
.StylerLines {
    /* z precedence */
    z-index: 0;
    border-bottom: 1px solid #000;
    /* box */
    height: 1px;
    /* pos */
    position: absolute;
    right: 0; left: 0;
}

.StylerLines:hover {
    transform: scale(0.9);
    z-index: 1;
    height: 10px;
    box-shadow: 0 0 250px 200px  #fff;
}