
.StylerLines {
    /* z precedence */
    z-index: 0;
    border-bottom: 1px solid #000;
    /* box */
    height: 1px;
    /* pos */
    position: absolute;
    right: 0; left: 0;
}

.StylerLines:hover {
    box-shadow: 0 0 30px 30px #fff;
    z-index: 1;
}