
.NavStylerLines {
    border-bottom: 1px solid #000;
    /* box */
    height: 1px;
    /* pos */
    position: absolute;
    right: 0; left: 0;
}

.NavStylerLines:hover {
    transform: scale(1.5);
}