.Poems {
}

.Poems__metaTitle {

}

.Poems__poem {
    margin-top: 2rem;
    padding-top: 1rem;
    max-width: 15rem;   
}   

.Poems__poem__title {
    font-weight: bold;
    margin-bottom: 1.5rem;
}   

.Poems__poem p {
    padding-bottom: 1rem;
    margin-top: 1rem;
}
.Poems__poem span {
    display: block;
}
