.BGNavigationalRiverButton {
    font-size: .75rem;
    color: #fff;
    
    cursor: pointer;
    border: 1px solid #fff;
    z-index: 9;
    
}
.BGNavigationalRiverButton__text_textPath {
    font-size: 1.25rem;
    font-weight: bold;
}

.BGNavigationalRiverButton__text:hover {
    filter: drop-shadow(0px 12px 12px rgba(255, 255, 255, 1));
    cursor: pointer;
    font-weight: bold;
    font-size: 1.75rem;
}

.BGNavigationalRiverButton__text_textPath2 {
    font-size: 2rem;
    font-weight: bold;
}

.BGNavigationalRiverButton__text:hover .BGNavigationalRiverButton__text_textPath2 {
    filter: drop-shadow(0px 12px 12px rgba(255, 255, 255, 1));
    cursor: pointer;
    font-weight: bold;
    font-size: 2.75rem;
}
.BGNavigationalRiverButton__text {
}

.BGNavigationalRiverButton__text__tspan {
    border: 1px solid #fff;
}
