@import './ContentPoems.css';

.Content {
    /* z precedence (max = 9) */
    /* pos */
    position: absolute;
    top: 40%; right: 0; bottom: 0; left: 35%;
    /* box */
    margin-left: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100vh;
    z-index: 9;
}

.Content__segregatorLine {
    height: 1px;
    border: 1px solid #aaa;
}
@import './MobileContent.css'