@import './Welcome.css';
@import './Poems.css';
@import './MyProgrammingWorks.css';
@import './WorkflowSkills.css';
@import './LearningSkills.css';
@import './SleepWaterFoodExercisingResting.css';
@import './BookChoices.css';
@import './PracticalMeditation.css';
@import './EffectivenessRecipes.css';



.Content {
    /* z precedence (max = 9) */
    /* pos */
    position: absolute;
    top: 35%; right: 0; bottom: 0; left: 35%;
    /* box */
    margin-left: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100vh;
    z-index: 9;
}

.Content__segregatorLine {
    height: 1px;
    background: #aaa;
    width: 70%;
    margin: 2rem 0;
}
@import './MobileContent.css'