.Content {
    /* z precedence (max = 9) */
    z-index: 0;
    /* pos */
    position: absolute;
    top: 15%;
    right: 0;
    bottom: 0;
    /* box */
    height: 85%;
    width: 70%;
    margin-left: auto;
    background-color: #c0c0c0; 
}
@import './MobileContent.css'