.ContentPoems {
}

.ContentPoems__metaTitle {

}

.ContentPoems__poem {
    margin-top: 2rem;
    padding-top: 1rem;
    max-width: 15rem;   
}   

.ContentPoems__poem__title {
    font-weight: bold;
}   

.ContentPoems__poem p {
    padding-bottom: 1rem;
    margin-top: 1rem;
}
.ContentPoems__poem span {
    display: block;
}
