.Welcome {
    padding: 1rem;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

.Welcome h1 {
    font-weight: bold;
    margin-top: 1rem;
}

.Welcome p {
    margin: 0.5rem;
}

.Welcome ul {   
    margin-top: 1rem;
    padding-left: 2rem;
}

.Welcome li {   
    list-style:circle;
}