@font-face {
    font-family: 'Josefin Sans';
    src: local('Josefin Sans Bold Italic'), local('JosefinSans-BoldItalic'),
        url('JosefinSans-BoldItalic.woff2') format('woff2'),
        url('JosefinSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: local('Josefin Sans Italic'), local('JosefinSans-Italic'),
        url('JosefinSans-Italic.woff2') format('woff2'),
        url('JosefinSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: local('Josefin Sans Bold'), local('JosefinSans-Bold'),
        url('JosefinSans-Bold.woff2') format('woff2'),
        url('JosefinSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Good Times Rg';
    src: local('GoodTimesRg-Regular'),
        url('GoodTimesRg-Regular.woff2') format('woff2'),
        url('GoodTimesRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: local('Josefin Sans Light'), local('JosefinSans-Light'),
        url('JosefinSans-Light.woff2') format('woff2'),
        url('JosefinSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anke';
    src: local('Anke'),
        url('Anke.woff2') format('woff2'),
        url('Anke.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anke';
    src: local('Anke'),
        url('Anke.woff2') format('woff2'),
        url('Anke.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: local('Josefin Sans Light Italic'), local('JosefinSans-LightItalic'),
        url('JosefinSans-LightItalic.woff2') format('woff2'),
        url('JosefinSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: local('Josefin Sans SemiBold'), local('JosefinSans-SemiBold'),
        url('JosefinSans-SemiBold.woff2') format('woff2'),
        url('JosefinSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: local('Josefin Sans Thin'), local('JosefinSans-Thin'),
        url('JosefinSans-Thin.woff2') format('woff2'),
        url('JosefinSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: local('Josefin Sans'), local('JosefinSans'),
        url('JosefinSans.woff2') format('woff2'),
        url('JosefinSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: local('Josefin Sans Thin Italic'), local('JosefinSans-ThinItalic'),
        url('JosefinSans-ThinItalic.woff2') format('woff2'),
        url('JosefinSans-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Josefin Sans';
    src: local('Josefin Sans SemiBold Italic'), local('JosefinSans-SemiBoldItalic'),
        url('JosefinSans-SemiBoldItalic.woff2') format('woff2'),
        url('JosefinSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sofachrome Rg';
    src: local('SofachromeRg-Italic'),
        url('SofachromeRg-Italic.woff2') format('woff2'),
        url('SofachromeRg-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Sofachrome Rg';
    src: local('SofachromeRg-Regular'),
        url('SofachromeRg-Regular.woff2') format('woff2'),
        url('SofachromeRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

