.AppTitle {
    font-size: 1.25rem;
    letter-spacing: 3px;
    position: absolute;
    z-index: 9;
}

.AppTitle__textOne {
    font-size: 1rem;
    letter-spacing: 1px;
}

.AppTitle__textTwo {

}
@media screen and (max-width: 600px) {
    .AppTitle {
        font-size: .75rem;    
    }
  }

  @media screen and (max-width: 325px) {
    .AppTitle {
        font-size: .5rem;    
    }
  }