.AppTitle {
    font-size: 1.25rem;
    letter-spacing: 3px;
    position: absolute;
    z-index: 9;
    color: blue;
}

@media screen and (max-width: 600px) {
    .AppTitle {
        
        font-size: 1rem;    
    }
  }