/* box */
/* display */

.TopMace {
    background: #000;
    /* box */
   
    /* pos */
    position: absolute;
    left: 0; top: 0; bottom: 0;
    transform: skewX(30deg);
    border-bottom-left-radius: 100%;
}

@import './MobileTopMace.css';