@import './Reset.css';
/* comps */
@import './components/Nav/Nav.css';
/* purely stylers */
@import './Stylers/Stylers.css';
/* anims */
@import './Animators/ScannerAnim.css';
/* globals */
@import './components/ScannerLoader/ScannerLoader.css';
@import './Fonts/Fonts.css';

.App {
  font-family: 'Josefin Sans', 'Anke','Good Times Rg', 'Sofachrome Rg';
  position: relative;
  overflow: hidden;
}

.App__title {
  position: absolute;
  top: 50%;
  left: 30%;
  letter-spacing: 4px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: safe center;
}

.App__title h1 {
  margin: 0.5rem;
  padding: .25rem;
  font-weight: bold;
}

@import './MobileApp.css';

@media screen and (max-width: 600px) {
  html, body, .App { 
    font-size: 8px;
  };
}